* {
  border-style: dotted;
  border-width: 2px;
}

.header {
  text-align:center; /*text-align is applied to images*/
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  /*text-align is applied to images*/
  /*text-align: center; */
}



.mainContainer p span {
  font-weight: bold;
}

.mainContainer .placeholder {
  color: gray;
  font-weight: normal;
  /*text-decoration:underline;*/
}
