* {
  /*border-style: dotted;*/
  /*border-width: 2px;*/
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.show-border {
  border: 1px solid;
}

.header {
  text-align:center; /*text-align is applied to images*/
  border: 1px solid;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  /*text-align is applied to images*/
  /*text-align: center; */
}



.mainContainer p span {
  font-weight: bold;
}

.mainContainer .placeholder {
  color: gray;
  font-weight: normal;
  /*text-decoration:underline;*/
}
