<!-- TODO: 
  - Deploy app via github pages 
  - Add CSS styling
  - Fix other data binding
-->

<html ng-app='ngMadLibs'>
<head>
  <title>ngMadLibs App</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller='MadLibsController'>
  <div class='container'>
    <div class='row show-border'>
      <!-- <div class='smiley'> -->
      <div class='col-xs-4 col-md-4 col-lg-4 vcenter'>
        <img src="img/mad-lib-happy-face.png" class="img-responsive center-block">
      </div><!-- Keep this comment to remove white space that affects 12 col layout
    --><div class='col-xs-8 col-md-8 col-lg-8 vcenter'>
        <img src="img/ng-mad-libs-logo.png" class="img-responsive center-block">
      </div>
    </div>

    <div class='provideWords col-sm-12 show-border'>
      <h3>Provide the following words:</h3>
      <div class='col-sm-4'>
        <input ng-model='maleName.text' placeholder={{maleName.placeholder}} class="form-group form-control">
        <input ng-model='jobTitle.text' ng-init="jobTitle.placeholder='job title'" placeholder={{jobTitle.placeholder}} class="form-group form-control">
        <input ng-model='tediousTask.text' placeholder={{tediousTask.placeholder}} class="form-group form-control">
      </div>
      <div class='col-sm-4'>
        <input ng-model='dirtyTask.text' placeholder={{dirtyTask.placeholder}} class="form-group form-control">
        <input ng-model='celebrity.text' placeholder={{celebrity.placeholder}} class="form-group form-control">
        <input ng-model='uselessSkill.text' placeholder={{uselessSkill.placeholder}} class="form-group form-control">
      </div>
      <div class='col-sm-4'>
        <input ng-model='obnoxiousCelebrity.text' placeholder={{obnoxiousCelebrity.placeholder}} class="form-group form-control">
        <input ng-model='hugeNumber.text' placeholder={{hugeNumber.placeholder}} class="form-group form-control">
        <input ng-model='adjective.text' placeholder={{adjective.placeholder}} class="form-group form-control">
      </div>
    </div>
    <div class='mainContainer col-sm-12 show-border'>
      <p inject-words class='lead'>
        <span data-word='maleName'></span> was a <span data-word='jobTitle'></span> who loved technology. Although she loved parts of her job, she absolutely hated  <span data-word='tediousTask'></span> and <span data-word='dirtyTask'></span>. So, <span data-word='maleName'></span> met with her life mentor <span data-word='celebrity'></span> who told her to learn how to <span data-word='uselessSkill'></span> with Thinkful. Thinkful didn't offer a course on <span data-word='uselessSkill'></span> so she studied programming instead. 
        <br><br>
        What a great decision! With her new skills, <span data-word='maleName'></span> built a(n) <span data-word='adjective'></span> robot named <span data-word='obnoxiousCelebrity'></span> that not only loved <span data-word='dirtyTask'></span> but did it <span data-word='hugeNumber'></span> faster. 
      </p>
    </div>
  </div>
<script src='bower_components/angular/angular.js'></script>
<script src='src/app.js'></script>
</body>
</html>
