<html ng-app='ngMadLibs'>
<head>
  <title>ngMadLibs App</title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller='MadLibsController'>
  <div class='header'>
    <div class='smiley'>[Insert smiley face image]</div>
    <div class='logo'>[Insert ngMadLibs Logo]</div>
  </div>
  <div class='provideWords'>
    <div>Provide the following words:</div>
    <div class='col1'>
      <input ng-model='maleName.text' placeholder={{maleName.placeholder}}>
      <input ng-model='jobTitle.text' ng-init="jobTitle.placeholder='job title'" placeholder={{jobTitle.placeholder}}>
      <input ng-model='tediousTask.text' placeholder={{tediousTask.placeholder}}>
    </div>
    <div class='col2'>
      <input ng-model='dirtyTask.text' placeholder={{dirtyTask.placeholder}}>
      <input ng-model='celebrity.text' placeholder={{celebrity.placeholder}}>
      <input ng-model='uselessSkill.text' placeholder={{uselessSkill.placeholder}}>
    </div>
    <div class='col3'>
      <input ng-model='obnoxiousCelebrity.text' placeholder={{obnoxiousCelebrity.placeholder}}>
      <input ng-model='hugeNumber.text' placeholder={{hugeNumber.placeholder}}>
      <input ng-model='adjective.text' placeholder={{adjective.placeholder}}>
    </div>
  </div>
  <div class='mainContainer'>
    <p>
      <span ng-class='{placeholder: !(maleName.text)}'>{{maleName.text || '[' + maleName.placeholder + ']'}}</span> was a <span ng-class='{placeholder: !(jobTitle.text)}'>{{jobTitle.text || '[' + jobTitle.placeholder + ']'}}</span> who loved technology. Although she loved parts of her job, she absolutely hated  <span>{{tediousTask.text}}</span> and <span>{{dirtyTask.text}}</span>. So, <span>{{maleName.text}}</span> met with her life mentor <span>{{celebrity.text}}</span> who told her to learn how to <span>{{uselessSkill.text}}</span> with Thinkful. Thinkful didn't offer a course on <span>{{uselessSkill.text}}</span> so she studied programming instead. 
 
      What a great decision! With her new skills, <span>{{maleName.text}}</span> built a(n) <span>{{adjective.text}}</span> robot named <span>{{obnoxiousCelebrity.text}}</span> that not only loved <span>{{dirtyTask.text}}</span> but did it <span>{{hugeNumber.text}}</span> faster. 
    </p>
  </div>
<script src='bower_components/angular/angular.js'></script>
<script src='src/app.js'></script>
</body>
</html>
